In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('mtcars.csv')

plt.scatter(df['mpg'], df['wt'])
plt.ylabel('Weight')
plt.xlabel('Miles per Gallon')

7

In [ ]:
df = pd.read_csv('mtcars.csv')

plt.hist(df['mpg'])

In [6]:
df = pd.read_csv('churn.csv')

dc = df.duplicated(subset=['customerID']).sum()

print(dc)

7

In [15]:
print(df.columns)

Index(['Unnamed: 0', 'customerID', 'tenure', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'gender',
       'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Churn'],
      dtype='object')

In [13]:
print(df['TotalCharges'].isna().sum())

15

In [18]:
print(df['MonthlyCharges'].mean())

62.47348178137652

In [24]:
print(df[df['Dependents'] == "1@#"].shape[0])

6

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        257 non-null    int64
 1   customerID        257 non-null    object
 2   tenure            257 non-null    object
 3   Contract          257 non-null    object
 4   PaperlessBilling  257 non-null    object
 5   PaymentMethod     257 non-null    object
 6   MonthlyCharges    247 non-null    float64
 7   TotalCharges      242 non-null    float64
 8   gender            257 non-null    object
 9   SeniorCitizen     252 non-null    float64
 10  Partner           257 non-null    object
 11  Dependents        257 non-null    object
 12  PhoneService      257 non-null    object
 13  MultipleLines     257 non-null    object
 14  InternetService   257 non-null    object
 15  OnlineSecurity    257 non-null    object
 16  OnlineBackup      257 non-null    object
 17  DeviceProtection  257 non-null    object
 18  TechSupport       257 non-null    object
 19  StreamingTV       257 non-null    object
 20  StreamingMovies   257 non-null    object
 21  Churn             257 non-null    object
dtypes: float64(3), int64(1), object(18)
memory usage: 44.3+ KB

In [7]:
df['tenure'] = df['tenure'].replace({'Four': 4, 'One': 1})
print(df['tenure'])

0       1
1      39
2       2
3       6
4       4
       ..
252     1
253    44
254    44
255    44
256    44
Name: tenure, Length: 257, dtype: object

0       1
1      39
2       2
3       6
4       4
       ..
252     1
253    44
254    44
255    44
256    44
Name: tenure, Length: 257, dtype: object