Which country has won the most gold medals in summer games?

Which country had the biggest difference between their summer and winter gold medal counts?

Which country has the biggest difference between their summer and winter gold medal counts relative to their total gold medal count? Only include countries that have won at least 1 gold in both summer and winter.

Write a function to update the dataframe to include a new column called "Points" which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze medals for 1 point. The function should return only the column (a Series object) which you created

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv('olympics.csv', encoding='ISO-8859-1')
df['Country Name'] = df['Country Name'].str.replace('Â', '')
print(df.head(10))

                Country Name   Summer  Summer_gold  Summer_silver  \
0          Afghanistan (AFG)       13            0              0
1              Algeria (ALG)       12            5              2
2            Argentina (ARG)       23           18             24
3              Armenia (ARM)        5            1              2
4    Australasia (ANZ) [ANZ]        2            3              4
5  Australia (AUS) [AUS] [Z]       25          139            152
6              Austria (AUT)       26           18             33
7           Azerbaijan (AZE)        5            6              5
8              Bahamas (BAH)       15            5              2
9              Bahrain (BRN)        8            0              0

   Summer_bronze  Total   Winter  Winter_gold  Winter_silver  Winter_bronze  \
0              2      2        0            0              0              0
1              8     15        3            0              0              0
2             28     70       18            0              0              0
3              9     12        6            0              0              0
4              5     12        0            0              0              0
5            177    468       18            5              3              4
6             35     86       22           59             78             81
7             15     26        5            0              0              0
8              5     12        0            0              0              0
9              1      1        0            0              0              0

   Total.1  â Games  Total_gold  Total_silver  Total_bronze  Combined total
0        0       13           0             0             2               2
1        0       15           5             2             8              15
2        0       41          18            24            28              70
3        0       11           1             2             9              12
4        0        2           3             4             5              12
5       12       43         144           155           181             480
6      218       48          77           111           116             304
7        0       10           6             5            15              26
8        0       15           5             2             5              12
9        0        8           0             0             1               1

In [17]:
df.shape

(147, 16)

In [16]:
df.size

2352

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    147 non-null    object
 1    Summer         147 non-null    int64
 2   Summer_gold     147 non-null    int64
 3   Summer_silver   147 non-null    int64
 4   Summer_bronze   147 non-null    int64
 5   Total           147 non-null    int64
 6    Winter         147 non-null    int64
 7   Winter_gold     147 non-null    int64
 8   Winter_silver   147 non-null    int64
 9   Winter_bronze   147 non-null    int64
 10  Total.1         147 non-null    int64
 11  â Games         147 non-null    int64
 12  Total_gold      147 non-null    int64
 13  Total_silver    147 non-null    int64
 14  Total_bronze    147 non-null    int64
 15  Combined total  147 non-null    int64
dtypes: int64(15), object(1)
memory usage: 18.5+ KB

In [24]:
df.columns

Index(['Country Name', ' Summer', 'Summer_gold', 'Summer_silver',
       'Summer_bronze', 'Total', ' Winter', 'Winter_gold', 'Winter_silver',
       'Winter_bronze', 'Total.1', 'â Games', 'Total_gold', 'Total_silver',
       'Total_bronze', 'Combined total'],
      dtype='object')

In [25]:
df.describe()

,Summer,Summer_gold,Summer_silver,Summer_bronze,Total,Winter,Winter_gold,Winter_silver,Winter_bronze,Total.1,â Games,Total_gold,Total_silver,Total_bronze,Combined total
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,13.476190,65.428571,64.965986,69.795918,200.190476,6.700680,13.047619,13.034014,12.897959,38.979592,20.176871,78.476190,78.000000,82.693878,239.170068
std,7.072359,405.549990,399.309960,427.187344,1231.306297,7.433186,80.799204,80.634421,79.588388,240.917324,13.257048,485.013378,478.860334,505.855110,1469.067883
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,1.000000,1.000000,2.500000
50%,13.000000,3.000000,4.000000,6.000000,12.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15.000000,3.000000,4.000000,7.000000,12.000000
75%,18.500000,24.000000,28.000000,29.000000,86.000000,10.000000,1.000000,2.000000,1.000000,5.000000,27.000000,25.500000,29.000000,32.500000,89.000000
max,27.000000,4809.000000,4775.000000,5130.000000,14714.000000,22.000000,959.000000,958.000000,948.000000,2865.000000,49.000000,5768.000000,5733.000000,6078.000000,17579.000000

In [28]:
df.fillna(np.nan, inplace=True)

In [30]:
num_cols = len(df.select_dtypes(include=np.number).columns)
cat_cols = len(df.select_dtypes(include='object').columns)
print("No of numerical features: ", num_cols)
print("No of categorical features: ", cat_cols)

No of numerical features:  15
No of categorical features:  1

In [31]:
df.nunique()

Country Name      147
 Summer            27
Summer_gold        54
Summer_silver      54
Summer_bronze      56
Total              75
 Winter            21
Winter_gold        25
Winter_silver      24
Winter_bronze      27
Total.1            34
â Games            44
Total_gold         55
Total_silver       54
Total_bronze       63
Combined total     74
dtype: int64

In [4]:
ef = df.sort_values(by=['Summer_gold'], ascending=False)
ef = ef.reset_index(drop=True)
print(ef['Country Name'][1])

United States (USA) [P] [Q] [R] [Z]

In [5]:
ef['diff'] = ef.apply(lambda x: x['Summer_gold'] - x['Winter_gold'], axis=1)
ef = ef.sort_values(by='diff', ascending=False).reset_index(drop=True)
print(ef['Country Name'][1])

United States (USA) [P] [Q] [R] [Z]

In [6]:
ef['rd'] = ef.apply(lambda x: x['Total_gold'] - x['diff'] if x['Summer_gold']
                    > 0 and x['Winter_gold'] > 0 and x['diff'] > 0 else None, axis=1)
ef = ef.sort_values(by='rd', ascending=False).reset_index(drop=True)
print(ef['Country Name'][1])

United States (USA) [P] [Q] [R] [Z]

In [7]:
def point(x):
    return (x['Total_gold']*3) + (x['Total_silver']*2) + x['Total_bronze']

ef['Total_points'] = ef.apply(point, axis=1)
ef.sort_values(by='Country Name', ascending=True, inplace=True)
ef.reset_index(drop=True, inplace=True)

In [8]:
print(ef['Total_points'])

0        2
1       27
2      130
3       16
4       22
      ...
142      2
143    459
144    171
145      3
146     18
Name: Total_points, Length: 147, dtype: int64